@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  color: #333;
  background-color: black;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.questwrap input[type="radio"]:checked + label {
  background-color: black;
  color: white;
}

.zeldaform {
  width: 100%;
  height: 100vh;
}

.questwrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
  background-color: palegoldenrod;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: -1.14em;
}

.questtitle {
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  font-weight: bold;
  background-color: palegoldenrod;
  width: 100%;
  height: 6em;
  text-align: center;
  margin: 0;
  padding-top: 3em;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  width: 100%;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
}

.label1 {
  background-color: #06d6a0;
}
.label1:hover {
  background-color: #05be8d;
  color: black;
}

.label2 {
  background-color: #1b9aaa;
}
.label2:hover {
  background-color: #188796;
  color: black;
}

.label3 {
  background-color: #ef476f;
}
.label3:hover {
  background-color: #d63e62;
  color: black;
}

.label4 {
  background-color: #ffc43d;
}
.label4:hover:active {
  background-color: #e0ad34;
  color: black;
}

button {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #ffc43d;
  width: 100%;
  height: 100vh;
}

button:hover {
  background-color: gold;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: goldenrod;
}

::-webkit-scrollbar-thumb:hover {
  background: gold;
}
/* End ScrollBar */

/* Tablet Breakpoint */
@media screen and (min-width: 768px) {
  .questwrap {
    flex-direction: row;
  }

  .questtitle {
    font-size: 2.5em;
  }

  label {
    font-size: 1.5em;
    flex-basis: 40%;
    height: 30%;
    width: 35%;
    margin: 0 1.8em 0 1.8em;
    border-radius: 0.4em;
  }

  button {
    justify-content: center;
    align-items: center;
    height: 3em;
    border-radius: 0em 0em 2em 2em;
  }
}
/* Desktop Breakpoint */
@media screen and (min-width: 1366px) {
  .questtitle {
    font-size: 3em;
  }

  .questwrap {
    margin-bottom: -1.14em;
  }

  label {
    font-size: 1.5em;
    height: 35%;
    margin: 0 2em 0 2em;
    border-radius: 1em;
  }

  button {
    justify-content: center;
    align-items: center;
    height: 3em;
    border-radius: 0em 0em 2em 2em;
  }
}
